<header>
  <h1>Jason Carr</h1>
  <h4>Junior Front-End Web Developer</h4>
</header>
<main>
  <div class="about-me">
    <img src="" alt="">
    <section>
      <h4>A Lil' Bit About Me:</h4>
      <p>I am on the cusp of a brilliant career in web development.  I have a passion for learning and pushing myself to do and be more.  A few months ago, I had no experience with web development whatsoever.  Now look at this beautiful site.  I can't wait to hone these new skills for many years to come.</p>
    </section>
  </div>
  <div class="project-container">
    <h4>Here's Some Other Cool Stuff I've Done</h4>
    <section class="projects">
      <div class="yazua">

      </div>
      <div class="brainstorm">

      </div>
      <div class="todo">

      </div>
      <div class="double-jeopardy">

      </div>
      <div class="more-to-come">

      </div>
    </section>
  </div>
</main>
